<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="idPurchase">Purchase created!</ion-title>
    <ion-title *ngIf="!idPurchase">Verify your purchase</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!idPurchase">
    <ion-card>
      <ion-card-header>
        Items
      </ion-card-header>

      <ion-list>
        <ion-item *ngFor="let item of cartItems">
          <ion-thumbnail item-start>
            <img [src]="item.product.imageUrl || 'assets/imgs/prod.jpg'">
          </ion-thumbnail>
          <h2>{{item.product.name}}</h2>
          <p>{{item.product.price | currency}}</p>
          <p class="nolinebreak">{{item.amount}}</p>
          <p item-end>{{item.product.price * item.amount | currency}}</p>
        </ion-item>

        <ion-item>
          <h2>Total</h2>
          <h2 item-end>{{total() | currency}}</h2>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Client
      </ion-card-header>
      <ion-item>
        <h2>{{client?.name}}</h2>
        <p>{{client?.email}}</p>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Delivery Address
      </ion-card-header>

      <ion-item>
        <h2>{{address?.street}}, {{address?.number}}</h2>
        <p>{{address?.neighborhood}} CEP {{address?.zipcode}}</p>
        <p>{{address?.city.name}}, {{address?.city.state.name}}</p>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Payment
      </ion-card-header>

      <ion-item *ngIf="purchase.payment['@type']=='paymentWithCard'">
        <h3>Payment with card</h3>
        <p>Installments: {{purchase.payment.installments}}</p>
      </ion-item>
      <ion-item *ngIf="purchase.payment['@type']=='paymentWithBoleto'">
        <h3>Payment with boleto</h3>
      </ion-item>
    </ion-card>

    <button ion-button block (click)="checkout()">Confirm purchase</button>
    <button ion-button block outline (click)="back()">Back</button>
  </div>

  <div *ngIf="idPurchase">
    <ion-card>
      <ion-card-header>
        Your purchase has been registered!
      </ion-card-header>
      <ion-item>
        <h2>Purchase code: {{idPurchase}}</h2>
        <p>Verify your email</p>
      </ion-item>
    </ion-card>
    <button ion-button block outline (click)="home()">Back</button>
  </div>

</ion-content>